/* h1 {
    font-size: 1em;
    color: white;
} */
/* nav {
    display: grid;
    grid-template-areas: "home middle play";
    grid-template-rows: 40px;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
} */

/* .nav__home {
    grid-area: home;
} */
/* .nav__title {
    grid-area: title;
}
.nav__start {
    grid-area: play;
} */

/* .nav__home img {
    margin: -5px 0 0 -10px;
}

.nav__gamearea img {
    margin: -5px -10px 0 0;
} */

/* main {
    background: linear-gradient(
        0deg,
        rgba(75, 192, 215, 1) 9%,
        rgba(92, 45, 253, 1) 100%
    );
    height: 100vh;
    width: 100vw;
    font-size: calc(10px + 2vmin);
    color: #555;
} */

/* StartArea.js*/

/* .startarea__main {
    text-align: center;
    width: 80%;
    margin: 30% auto;
} */

/* GameArea.js*/
/* .gamefield {
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
} */
/* .gamefield__box-area {
    height: auto;
    width: 400;
    margin: 60px;
} */

/* .gamefield__box {
    background-color: rgba(255, 255, 255, 0.338);
    height: auto;
    width: 300px;
    margin: 0 0 20px 0;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 6px rgba(58, 32, 10, 0.1);
    padding: 10px;
} */

/* .code_box {
    background-color: rgba(27, 24, 87, 0.728);
    margin: 0px 0px;
    color: rgb(152, 236, 255);
    padding: 10px 3px;
} */

/* .gameinterface {
    display: grid;
    grid-template-areas:
        "score middle life"
        "keyboard keyboard keyboard";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 6fr 1fr;
    position: fixed;
    width: 100vw;
    bottom: 0px;
} */

/* .gameinterface__score {
    grid-area: score;
    letter-spacing: 1px;
    font-size: 1.1em;
} */

/* .gameinterface__life {
    grid-area: life;
} */
/* .gameinterface__life img {
    padding: 2px;
} */

/* .gameinterface__score,
.gameinterface__life {
    color: white;
    font-weight: bold;
    min-width: 4em;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .keyboard {
    margin-top: -1vh;
    user-select: none;
    grid-area: keyboard;
    background-color: gainsboro;
    width: 100vw;
    display: flex;
    font-size: calc(10px + 2vmin);
     */
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* box-shadow: 2px 2px 5px 6px rgba(58, 32, 10, 0.2);
}  */

/* .keyboard div {
    list-style: none;
    background: linear-gradient(
        45deg,
        rgba(75, 192, 215, 1) 9%,
        rgb(220, 236, 255) 100%
    );
    font-weight: bold;
    font-size: 1.3em;
    color: #566fad;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
} */

/* .keys_left,
.keys_right {
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
    height: 30vh;
    font-weight: bold;
    font-size: 1.5em;
    color: #566fad; */
/* color: #f2fcfd; */
/* text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
} */

/* .keys_left div,
.keys_right div {
    width: 33%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .keys_middle div:active {
    color: #f2fcfd;
    background: linear-gradient(
        45deg,
        rgb(75, 192, 215) 100%,
        rgb(220, 236, 255) 10%
    );
    box-shadow: 2px 2px 5px 6px rgba(58, 32, 10, 0.2);
} */

/* .keys_left div:active,
.keys_right div:active {
    color: #f2fcfd;
    background: linear-gradient(
        45deg,
        rgb(75, 192, 215) 100%,
        rgb(220, 236, 255) 10%
    );
    box-shadow: 2px 2px 5px 6px rgba(58, 32, 10, 0.2);
    margin-top: -2em;
} */

/* .keys_middle {
    width: 30%;
}
.keys_middle div {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
